html { 
    scroll-behavior: smooth;
}


body { 
    padding: 0; 
    margin: 0;
    display: flex;
    background-color: #3AAFA9;
    flex-direction: column;
}


.welcome { 
    letter-spacing: calc(-1vmin + 5px);
    line-height: calc(6vmin + 30px);
}

.upside { 
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30vmin; */
    font-family: sans-serif;
    font-size: calc(10vmin + 15px);
    font-style: italic;
    font-weight: bold;
    color: #fefefe;
    height: 100vmin;
}


.darkText { 
    color: #17252A;
    /* margin-top: -10px; */
    font-style: normal;
    font-weight: bolder;
    font-size: calc(5vmin + 20px);
    letter-spacing: calc(-0.5vmin + 2px);
    line-height: 50px;
}

.Greeting-block {
    /* position: relative; */
    font-family: sans-serif;
    width: 100%; 
    display: flex;
    /* height: 110vmin; */
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50vmin;
}

.Greeting-block  > div { 
    height: calc(100vmin + 150px);
}

@media screen and (max-width: 1000px) { 
    .Greeting-block {
        flex-wrap: wrap;
    }

    .Greeting-block > div {
        width: 100%;
    }
}


.left-block { 
    background-color: #17252A;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #fefefe;
    font-size: 20vmin;
}

.right-block { 
    width: 50%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1px; 
    font-size: 10vmin;
}


.lineHeight { 
    height: 5vmin;
}

.text { 
    padding: calc(5vmin + 10px);
    font-size: 5vmin;
    /* line-height: calc(5vmin + 15px); */
}



/* skills  */

.skills-block { 
    margin-top: 10vmin;
    padding: 5vmin;
    min-height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillsHeader { 
    font-family: sans-serif;
    position: relative;
    /* align-self: flex-start;    */
    color:#17252A;
    font-size: 10vmin;
}

.skills-list { 
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.skill { 
    padding: 5vmin;
    font-family: sans-serif;
    color: #17252A;
}

.skill-header { 
    font-size: 5vmin;
}

a { 
    text-decoration: none;
    color: #17252A;
    margin-top: -15px;
}

.skill-link:hover { 
    text-decoration: underline;
    text-decoration-color: #17252A;
    cursor: pointer;
}


.works  {
    padding: calc(10vmin + 10px);
    font-family: sans-serif;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #17252A;
}

.worksHeader {
    color: #fefefe;
    text-align: center;
    font-size: 10vmin;
}

.examples  { 
    padding: 5vmin;
    color: #fefefe;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.example { 
    margin: 5vmin;
}

.linkList { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.linkList > a { 
    text-decoration: none;
    color: #fefefe;
    margin-top: 10px;
}

.linkList > a:hover { 
    text-decoration: underline;
    /* text-decoration-color: #fefefe; */
    cursor: pointer;
}
